<template>
  <div id="app">
    <v-container>
      <v-row>
        <v-app id="inspire" style="padding-left: 27%;">
          <h2 class="text-center">App Name</h2>
          <v-card elevation="20" style="margin: 20px;min-width: 75vh;">
            <v-progress-linear
              :active="loading"
              :indeterminate="loading"
              absolute
              bottom
              color="deep-purple accent-4"
            ></v-progress-linear>

            <v-col cols="12">
              <h4 class="text-center">Registration</h4>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                style="padding: 20px;"
              >
                <v-col cols="12" md="12">
                  <v-row justify="center">
                    <v-text-field
                      v-model="name"
                      :counter="10"
                      :rules="nameRules"
                      label="Name"
                      required
                    ></v-text-field>
                  </v-row>
                </v-col>

                <v-col cols="12" md="12">
                  <v-row justify="center">
                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      label="E-mail"
                      required
                    ></v-text-field>
                  </v-row>
                </v-col>

                <v-col cols="12" md="12">
                  <v-row justify="center">
                    <v-text-field
                      v-model="password"
                      :rules="passwordRules"
                      label="Password"
                      :append-icon="pval ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="() => (pval = !pval)"
                      :type="pval ? 'password' : 'text'"
                      required
                    ></v-text-field>
                  </v-row>
                </v-col>

                <v-col cols="12" md="12">
                  <v-row justify="center">
                    <v-text-field
                      v-model="confirm_password"
                      :rules="confirmPasswordRules"
                      label="Retype Password"
                      :append-icon="cpval ? 'mdi-eye' : 'mdi-eye-off'"
                      @click:append="() => (cpval = !cpval)"
                      :type="cpval ? 'password' : 'text'"
                      required
                    ></v-text-field>
                  </v-row>
                </v-col>

                <v-col cols="12" md="12">
                  <v-row justify="center">
                    <v-select
                      v-model="select"
                      :items="items"
                      :rules="[(v) => !!v || 'Item is required']"
                      label="Item"
                      required
                    ></v-select>
                  </v-row>
                </v-col>

                <v-checkbox
                  v-model="checkbox"
                  :rules="[(v) => !!v || 'You must agree to continue!']"
                  label="Do you agree?"
                  required
                ></v-checkbox>

                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4"
                  @click="validate"
                >
                  Validate
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                  Reset Form
                </v-btn>

                <!--<v-btn
                      color="warning"
                      @click="resetValidation"
                    >
                      Reset Validation
                    </v-btn>-->
              </v-form>
            </v-col>
          </v-card>
        </v-app>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    pval: true,
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) =>
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/.test(
          v
        ) ||
        "Min. 8 characters with at least one capital letter, a number and a special character",
    ],
    confirm_password: "",
    cpval: true,
    confirmPasswordRules: [],
    // confirmPasswordRules: [
    //   (v) => !!v || "Retype password",
    //   (v) =>
    //       (!!v && v) === password || "Password do not match",
    // ],
    select: null,
    items: ["Item 1", "Item 2", "Item 3", "Item 4"],
    checkbox: false,
  }),

  computed: {
    // confirmPasswordRules() {
    //   const rules = [];
    //   if (this.confirm_password) {
    //     const rule = (v) =>
    //       (!!v && v) === this.password || "Password do not match";
    //     rules.push(rule);
    //   }
    //   return rules;
    // },
  },

  watch: {
    loading(val) {
      if (!val) return;

      setTimeout(() => (this.loading = false), 1000);
    },
  },

  methods: {
    validate() {
      this.$refs.form.validate();
      this.loading = true;
      // console.log(this.password)
      this.validate_retype_password();
    },
    reset() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
    validate_retype_password() {
      if (!this.confirm_password) {
        const rule = (v) => !!v || "Retype password";
        this.confirmPasswordRules.push(rule);
      } else if (this.confirm_password && this.password) {
        const rule = (v) =>
          (!!v && v) === this.password || "Password do not match";

        this.confirmPasswordRules.push(rule);
      }
    },
    // resetValidation () {
    //   this.$refs.form.resetValidation()
    // },
  },
};
</script>
